@page "/treniruotes"

@using DataLibrary
@using BlazorServer.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config

<h3>Treniruočių sąrašas</h3>

<a class="btn btn-primary" href="treniruotes_kurimas" role="button">Sukurti naują treniruotę</a>

@if (treniruotes == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Data ir laikas</th>
                <th scope="col">Dalyvių sk.</th>
                <th scope="col">Sporto klubas</th>
                <th scope="col">Treneris</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var t in treniruotes)
            {

                <tr>
                    <th scope="row">@i</th>
                    <td>@t.id</td>
                    <td>@t.data</td>
                    <td>@t.prisiregistravusiuSk</td>
                    <td>@t.fk_SportoKlubaiid</td>
                    <td>@t.fk_Treneriaiid</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}

@code{
    List<TreniruoteModel> treniruotes;
    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from treniruotes";

        treniruotes = await _data.LoadData<TreniruoteModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }
}